<ion-view title="Surveys" id="page2">
  <ion-content padding="true" class="has-header">
    <ion-list id="surveys-list1">
      <ion-item class="item-icon-right" id="surveys-list-item4" ui-sref="congrats()">Camera
        <i class="icon ion-arrow-right-c"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="surveys-list-item5" ui-sref="congrats()">Item 2
        <i class="icon ion-android-arrow-forward"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="surveys-list-item6" ui-sref="congrats()">Item 3
        <i class="icon ion-android-arrow-forward"></i>
        <ion-option-button class="button-positive"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>